SoJpt-Boot-Staging.log
/src/main/webapp/
HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar
SoJpt-Hub
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
